{% extends 'base.html' %}
{% load static %}
{% block content %}



<div class="cart_big_screen">
 
<!-- ==============Breadcumbs======================== -->
  <div class="row ml-5 p-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'shopfront' %}">Главная</a></li>
        <li class="breadcrumb-item active" aria-current="page">Текущая</li>
      </ol>
    </nav>
  </div>

<!-- ===========End of Breadcumbs==================== -->

  <div class="row pl-5 pr-5">
    <div class="col-9">

  <!-- ===================Headings================================================= -->
        <div class="row m-auto pb-5 ff2_120">
            <div class="col-1">
              <h5 class="text-right">Фото</h5>
            </div>
            <div class="col-4">
              <h5 class="text-left">Наименование</h5>
            </div>
            <div class="col-1">
              <h5 class="text-left">Цена</h5>
            </div>
            <div class="col-1">
              <h5 class="'text-left">Кол-во</h5>
            </div>
            <div class="col-1">
              <h5 class="text-left">Сумма</h5>
            </div>
            <div class="col-1">
              <h5 class="text-center">Добавить</h5>
            </div>
            <div class="col-1">
              <h5 class="text-center">Уменьшить</h5>
            </div>
            <div class="col-1">
              <h5 class="text-center">Удалить</h5>
            </div>
            <div class="col-1">
              <h5 class="text-left">Оплата</h5>
            </div>
        </div>
  <!-- ====================End of Headings================================== -->

  <!-- CartItems -->
  <!-- ================================================================ -->
        <form action="{% url 'purchase_product' %}" method="POST" >
          {% csrf_token %}
          {% for cart_item in cart_items %}
            <div class="row m-auto mt-1 mb-3 ff2" >
                <div class="col-sm-1 flex justify-content-end" >
                  
                  <a href="{% url 'product_page' cart_item.article %}">
                    <img src="{{cart_item.image.url}}" alt="" class='rounded-2 img-fluid img_scale'>
                  </a>
                </div>
                <div class="col-sm-4">
                  {{cart_item.product}}
                </div>
                <div class="col-sm-1">
                  {{cart_item.price}} руб.
                </div>
                <div class="col-sm-1">
                  {{cart_item.quantity}} 
                </div>
                <div class="col-sm-1"> 
                  <span class="subtotal">{{cart_item.sub_total}}</span> <span> руб.</span>
                  
                </div>
                <div class="col-sm-1">
                  <a href="{% url 'add_cart_item' cart_item.id %}" class="text-info">
                    <h3 class="text-center"><i class="fas fa-cart-plus"></i></h3>
                  </a>
                </div>
                <div class="col-sm-1">
                  <a href="{% url 'remove_cart_item' cart_item.id %}"class="text-info" >
                    <h3 class="text-center"><i class="fas fa-minus-circle"></i></h3>
                  </a>
                </div>
                <div class="col-sm-1">
                  <a href="{% url 'delete_cart_item' cart_item.id %}"class="text-info" >
                        <h3 class="text-center"><i class="fas fa-trash-alt"></i></h3>
                  </a>
                </div>
                <div class="col-sm-1">
                  <div class="form-check form-switch">
                    <input class="form-check-input switchCheck" type="checkbox" role="switch"  value='{{cart_item.id}}' name="checkbox" checked>
                  </div>
                </div>    
            </div> 
          {% endfor %}
    </div>

    <div class="col-2 cart_price_window">
        {% if cart_items %}  
            <div class="row mb-2 mt-2  ">
              <div class="ff2 aligner">Всего товаров на сумму:</div>
            </div>
            <div class="row mt-3 mb-3">
              <div class="ff2_120 aligner" >
                <span id="sum_to_pay">{{total}}</span> &nbsp<span>руб.</span>
            </div>
            </div>
            <div class="row mt-3 mb-3">
                <div class="col aligner">
                  <input type="submit" value="Перейти к оформлению" class="btn btn-block btn-outline-primary">
                </div>
            </div> 
            </form>
        {% else %}
          <div class="row align-items-center">
            <div class="row mb-2 mt-2  ">
              <div class="ff2 aligner">Ваша корзина пуста</div>
            </div>
            <div class="row mt-3 mb-3">
              <div class="col aligner">
                <a href="{% url 'shopfront' %}" class="btn btn-outline-primary">Продолжить покупки</a>
              </div>
            </div> 
          </div>
        {% endif %}
    </div>
  </div>
</div>


<!-- =====================================Media Queery 540========================== -->
<div class="cart_big_screen_media_query ">
  <div class="container">
    <form action="{% url 'purchase_product' %}" method="POST" id="purchase_form">
          {% csrf_token %}
        {% for cart_item in cart_items %}
        <div class="cart_card_media_query">
          <div class="row p-1">
            <div class="col-3">
              <a href="{% url 'product_page' cart_item.article %}">
                <img src="{{cart_item.image.url}}"  alt="" class='rounded-2 img-fluid img_scale' >
              </a>
            </div>
            <div class="col-8">
              <div class="row cart_price_font_media_query"><div class="col-3">{{cart_item.price}}</div> <div class="col-1" style="text-align:left"><i class="fa-solid fa-ruble-sign"></i></div></div>
              <div class="row pl-3" style="font-weight: bold">{{cart_item.product}}</div>  
              <div class="row mt-3">

            <div class="col-3" style="font-weight: bold">
              {{cart_item.quantity}} шт.
            </div>
            <div class="col-2">
              <a href="{% url 'add_cart_item' cart_item.id %}" class="text-info">
                <h1 class="text-center"style="font-size: 1.2rem; color: blue;" ><i class="fas fa-cart-plus"></i></h3>
              </a>
            </div>
            <div class="col-2">
                <a href="{% url 'remove_cart_item' cart_item.id %}"class="text-info" >
                  <h3 class="text-center" style="font-size: 1.2rem; color: blue;"><i class="fas fa-minus-circle"></i></h3>
                </a>
            </div>
            <div class="col-2">
              <div class="form-check form-switch" style="font-size:1.2rem;" >
                <input class="form-check-input switchCheck"   type="checkbox" role="switch"  value='{{cart_item.id}}' name="checkbox" checked>
              </div>
              </div>  
            </div>
          </div>
        </div>
        </div>
        {% endfor %}

        {% if cart_items %}  
        
        <div class="cart_footer_media_query" id="purchase_cart_item">
          <div class="div pt-1" style="font-size: 15px;">
            Всего товаров на сумму: 
          </div>
          <div class="cart_price_font_media_query">{{total}}</div>
      
            <input type="submit" value="Перейти к оформлению">
      
        </div>
 
        {% else %}
        <div class="cart_footer_media_query_no_cart_items" id="footer_go_to_shopfront">
          <div class="row pt-3">
            <a href="{% url 'shopfront' %}" id="go_to_shop_front">Продолжить покупки</a>
          </div>
        </div>
        {% endif %}
       </form> 
  </div>
</div>

<script>
  console.log('Script works');

  const switchCheck=document.querySelectorAll(".switchCheck");
  const subtotal=document.querySelectorAll(".subtotal");
  const sum_to_pay=document.querySelector('#sum_to_pay');
  const go_to_shop_front=document.querySelector('#go_to_shop_front');
  const footer_go_to_shopfront=document.querySelector('#footer_go_to_shopfront');
  const purchase_cart_item=document.querySelector('#purchase_cart_item');
  const purchase_form=document.querySelector('#purchase_form');

// функция выводит сумму заказа в зависимости от положения ползуна каждого наименования
for (let i=0; i<switchCheck.length; i++) {
    switchCheck[i].addEventListener('change', e=>{
      let sum_counter=0;
      console.log('Cчетчик:', sum_counter);
      console.log('Switch:', i)

      for (let n=0; n<subtotal.length; n++){
          if (switchCheck[n].checked){
              // console.log(subtotal[n].innerHTML)
              sum_counter+=Number(subtotal[n].innerHTML)}}   
       
        console.log(sum_counter)
        sum_to_pay.innerHTML=sum_counter;

})}

if (footer_go_to_shopfront) {
  //clicking in any place of the footer activates the hyperlink
  footer_go_to_shopfront.addEventListener('click', goShopFront)
  function goShopFront () {
          go_to_shop_front.click();
}
}

if (purchase_cart_item) {
purchase_cart_item.addEventListener('click', sendJSForm);
    function sendJSForm() {
        purchase_form.submit();
    };
}


console.log('Script ends');
</script>



{% endblock %}
