{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
          <div class="row pt-2">
            <div class="col-12">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'shopfront' %}">Главная</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Текущая</li>
                </ol>
              </nav>
            </div>
          </div>

<!-- =====================Alert Messages Module=================== -->
<div class="container">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info" role="alert">
        <!-- <button class="close" data-dismiss="alert">
                    <small><sup>x</sup></small>
                </button> -->
        {{ message }}
    </div>
    {% endfor%}
    {% endif%}
</div>
<!-- ===================End of Alert Messages Module================ -->

<div class="box_client p-3">
<div class="row p-1">
  <div class="col-1 ff2_120">
    <strong>Заказ # {{order.id}}</strong>
  </div>
  <div class="col-4 ff2_120">
    <strong>Наименование товара</strong>
  </div>
  <div class="col-2 ff2_120">
    <strong>Кол-во товара (шт.)</strong>
  </div>
  <div class="col-2 ff2_120">
    <strong>Цена</strong>
  </div>
  <div class="col-2 ff2_120">
    <strong>Всего</strong>
  </div>

</div>
<!-- <div class="row align-items-center justify-content-right"> -->
  <!-- <div class="col-8 justify-content-right">
    <h4>Всего товаров на сумму: <strong>{{total}}&nbsp;руб.</strong></h4>
  </div> -->

{% for item in order_items %}
<div class="row p-1">
     <div class="col-1">
        <!-- <a href="{{cart_item.get_url}}"> -->
          <img src="{{item.image.url}}" width="50" alt="">
        <!-- </a> -->
      </div>

    <div class="col-4 ff2">
    <strong>{{item.product}}</strong> 
    </div>
    <div class="col-2">
      <strong>{{item.quantity}}</strong>
    </div>
    <div class="col-2">
      <strong>{{item.price}}</strong>
        
    </div>
    <div class="col-2">
      <strong>{{item.sub_total}}</strong> 
    </div>
</div>
{% endfor %}

</div>



<!-- https://www.cdek.ru/ru/offices/ -->



<form action="{% url 'sdek_office_choice' order.id %}" method="POST" id="form_to_be_sent" class="ff2">
          {% csrf_token %}

<div class="row ff2_120">
  Пункт доставки:
</div>
<div class="box_client p-3">
  <div class="row mt-2 mb-2">
  <div class="col-md-4">
    <label for="country" class="form-label"> <strong>Страна</strong></label>
     <select name="country" id="country" class='form-control' required>
        <!-- <option selected="true" disabled="disabled">Выберите страну</option> -->
        <option  value="" disabled selected hidden>Выберите страну</option>
        <!-- <option value="">Выберите страну</option> -->
        {% for country in countries %}
        <option value="{{country}}">{{country}}</option>
        {% endfor %}
      </select>
    </div>
    </div>
  
  
  <div class="row mt-2 mb-2">
  <div class="col-md-4">
    <label for="region" class="form-label"> <strong>Регион</strong>
      </label>
       <select name="region" id="region" class='form-control'>
        <option selected="true">Выберите регион</option>
        <!-- <option value="">Выберите регион</option> -->
        {% for region in regions %}
        <option value="{{region.region}}">{{region.region}}</option>
        {% endfor %}
      </select>
    </div>
  </div>

 <div class="row mt-2 mb-2">
  <div class="col-md-6">
    <label for="city" class="form-label"> <strong>Населенный пункт</strong> </label>
       <select name="city" id="city" class='form-control'>
       <!-- <select name="city" id="city" class='form-control' autocomplete="off"> -->
        <!-- <option selected="true" disabled="disabled">Выберите населенный пункт в пределах вашего региона</option> -->
        <option value="">Выберите населенный пункт в пределах вашего региона</option>
        {% for city in cities %}
        <option value="{{city.city}}">{{city.city}}</option>
        {% endfor %}
      </select>
    </div>
    </div>


  <div class="row mt-2 mb-2">
  <div class="col-md-6">
    <label for="office" class="form-label"> <strong>Пункт выдачи</strong> </label>
       <!-- <select name="office" id="office" class='form-control'> -->
       <select name="office" id="office" class='form-control' autocomplete="off">
        <option selected="true" disabled="disabled">Выберите пункт выдачи СДЕК в пределах вашего населенного пункта</option>
        <!-- <option value="">Выберите пункт выдачи СДЕК в пределах вашего населенного пункта</option> -->
        {% for office in offices %}
        <option value="{{office.address_full}}">{{office.address_full}}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  </div>
</form>

<form action="{% url 'create_final_purchase_order' order.id %}" method="POST" id="shipment_form" class="ff2">
   {% csrf_token %}
    <div class="row ff2_120">
          Получатель:
    </div>
  {% if request.user.is_authenticated %}
    <div class="box_client p-3">
      <div class="row p-1">
        <div class="col-md-4">
        <!-- <label for="inputFirstName" class="form-label">Имя</label> -->
        <input type="text" class="form-control" id="firstName" name="f_name" value="{{user.first_name}}" required autocomplete="off">
        </div>
      </div>
      <div class="row p-1">
        <div class="col-md-4">
          <input type="text" class="form-control" id="lastName" name="l_name" value="{{user.last_name}}" required autocomplete="off">
        </div>
      </div>
      <div class="row p-1">
        <div class="col-md-4">
          {% if extended_user.sdek_phone %}
          <input type="tel" class="form-control" id="phone" name="phone" value="{{extended_user.sdek_phone}}" required autocomplete="off">
          {% else%}
          <input type="tel" class="form-control" id="phone" name="phone" pattern="[0-9]{11}"  placeholder="Телефон с кодом страны (11 знаков). Для РФ: 7" required autocomplete="off">
          {% endif %}  
        </div>
      </div>
      <div class="row p-1">
        <div class="col-md-4">
          <input type="email" class="form-control" id="email" name="email" value="{{user.email}}" required >
        </div>
      </div>
    </div>
  {% else %}
    <div class="box_client p-3">
      <div class="row p-1">
          <div class="col-md-4">
            <!-- <label for="inputFirstName" class="form-label">Имя</label> -->
            <input type="text" class="form-control" id="firstName" name="f_name" placeholder="Имя" required autocomplete="off">
          </div>
      </div>
      <div class="row p-1">
        <div class="col-md-4">
          <!-- <label for="inputLastName" class="form-label">Фамилия</label> -->
          <input type="text" class="form-control" id="lastName" name="l_name" placeholder="Фамилия" required autocomplete="on">
        </div>
      </div>
      <div class="row p-1">
        <div class="col-md-4">
          <input type="tel" class="form-control" id="phone" name="phone" pattern="[0-9]{11}"  placeholder="Телефон с кодом страны (11 знаков). Для РФ: 7" required autocomplete="off">
        </div>
      </div>
      <div class="row p-1">
        <div class="col-md-4">
          <!-- <label for="email" class="form-label">Email</label> -->
          <input type="email" class="form-control" id="email" name="email" placeholder="email" required autocomplete="off">
        </div>
      </div>
    </div>
{% endif %}

    <input type="text" id="shipment_office" name="shipment_office" class='form-control' autocomplete="off" hidden> 

    <div class="row m-auto mt-3">
      <div class="col-2">
        <input type="submit" value="Сохранить" class="btn btn-block btn-outline-primary" id="clear_storage" disabled>
      </div>
     
      <div class="col-2">
        <a href="{% url 'delete_order' order.id %}">
         <input type="button" value="Удалить" class="btn btn-block btn-outline-primary"> 
      </div>
    </div>
</form>
    </div>


</div>

</div>


<script>
console.log ('Beginning of the script')

const form_to_be_sent=document.querySelector('#form_to_be_sent');
const shipment_form = document.querySelector('#shipment_form');
const shipment_office = document.querySelector('#shipment_office');
//const shipment_city = document.querySelector('#shipment_city');
//const shipment_region = document.querySelector('#shipment_region');
const firstName = document.querySelector('#firstName');
const lastName = document.querySelector('#lastName');
const phone = document.querySelector('#phone');
const email = document.querySelector('#email');
const country = document.querySelector('#country');
const region = document.querySelector('#region');
const city = document.querySelector('#city');
const office = document.querySelector('#office');
//const clear_storage = document.querySelector('#clear_storage').disabled//элемент заблокирован


//===========Name/Phone Module=========================

firstName.addEventListener('change', e=>{
        //sessionStorage.clear();
        fistName_value = firstName.value;
        sessionStorage.setItem('firstName', fistName_value);
        // sessionStorage.removeItem('city');
        // sessionStorage.removeItem('region');
        // sessionStorage.removeItem('office');
        // city.value='';
        // region.value='';
        // office.value='';
    }
 )
lastName.addEventListener('change', e=>{
        lastName_value = lastName.value;
        sessionStorage.setItem('lastName',  lastName_value);
    }
 )
phone.addEventListener('change', e=>{
        phone_value = phone.value;
        sessionStorage.setItem('phone',  phone_value);
    }
 )
email.addEventListener('change', e=>{
        email_value = email.value;
        sessionStorage.setItem('email',  email_value);
    }
 )
//====================Country Module=======================
country.addEventListener('change', e=>{
        //sessionStorage.clear();
        country_value = country.value;
        sessionStorage.setItem('country', country_value);
        sessionStorage.removeItem('city');
        sessionStorage.removeItem('region');
        sessionStorage.removeItem('office');
        city.value='';
        region.value='';
        office.value='';
    }
 )

country.addEventListener('change', sendJSForm);
    function sendJSForm() {
        form_to_be_sent.submit();
    };
//===============Region Module======================
region.addEventListener('change', e=>{
        region_value = region.value;
        country_value = country.value;
        //shipment_region_value = region_value;
        sessionStorage.setItem('region', region_value);
        sessionStorage.setItem('country', country_value);
        sessionStorage.removeItem('city');
        sessionStorage.removeItem('office');
        city.value='';
        office.value=''
       
    }
  )
region.addEventListener('change', sendJSForm);
    function sendJSForm() {
        form_to_be_sent.submit();
    };

//===============City Module======================
city.addEventListener('change', e=>{
        city_value = city.value;
        region_value = region.value;
        country_value = country.value;
        //shipment_city.value = city_value;
        sessionStorage.setItem('city', city_value);
        sessionStorage.setItem('region', region_value);
        sessionStorage.setItem('country', country_value);
        sessionStorage.removeItem('office');
        office.value='';
    }
)
city.addEventListener('change', sendJSForm);
    function sendJSForm() {
        form_to_be_sent.submit();
    };

//===============Office Module======================
office.addEventListener('change', e=>{
        office_value = office.value;
        sessionStorage.setItem('office', office_value);
        shipment_office.value = office_value;
        clear_storage.removeAttribute('disabled');
        // sendShipmentForm();
    }
)



//===============Clear Session Storage==================
shipment_form.addEventListener('submit', e=>{
        sessionStorage.clear();
    }
 )



// function sendShipmentForm() {
//         shipment_form.submit();
//         //e.preventDefault()
//     };


// for (let button of buttons) {
//         button.addEventListener('click', clearStorage);
//     }
//     function clearStorage(e) {
//         sessionStorage.clear();
//     };

//     save_button.addEventListener('submit', e=> {
//         sessionStorage.clear();
//    })

// office.addEventListener('change', sendJSForm);
//     function sendJSForm() {
//         form_to_be_sent.submit();
//     };

document.addEventListener('DOMContentLoaded', e => {
        if (sessionStorage.getItem('country') === null)
          {console.log ("No country choice")}
        else {
          country_value = sessionStorage.getItem('country');
          country.value = country_value
        }
        if (sessionStorage.getItem('region') === null)
          {console.log ("No region choice")}
        else {
          region_value = sessionStorage.getItem('region');
          region.value = region_value
          //shipment_region.value = region_value
        }
        if (sessionStorage.getItem('city') === null)
          {console.log ("No city choice")}
        else {
          city_value = sessionStorage.getItem('city');
          city.value = city_value;
          //shipment_city.value = city_value;
        }
        if (sessionStorage.getItem('phone') === null)
          {console.log ("No phone choice")}
        else {
          phone_value = sessionStorage.getItem('phone');
          phone.value = phone_value
        }
         if (sessionStorage.getItem('firstName') === null)
          {console.log ("No first_name choice")}
        else {
          firstName_value = sessionStorage.getItem('firstName');
          firstName.value = firstName_value
        }
        if (sessionStorage.getItem('lastName') === null)
          {console.log ("No last_name choice")}
        else {
          lastName_value = sessionStorage.getItem('lastName');
          lastName.value = lastName_value
        }
        if (sessionStorage.getItem('email') === null)
          {console.log ("No email choice")}
        else {
          email_value = sessionStorage.getItem('email');
          email.value = email_value
        }
      });

// office.addEventListener('change', stateHandle);
// function stateHandle(){
//     if (shipment_office.value==="") {
//       clear_storage.disabled = true;
//     }
//     else {
//       clear_storage.disabled=false;
//     }
//   }


// if (shipment_office.value ==="") {
//     clear_storage.disabled=true;
// }
// else {
//     clear_storage.enabled=true;
// }

// if (shipment_office.value!=null)
//       {clear_storage.removeAttribute('disabled')}

// clear_storage.addEventListener('click', clearStorage);
//     function clearStorage(e) {
//         sessionStorage.clear();
//     };

 //check_imei.value.clear()
  //e.preventDefault()

// country.addEventListener('change', function(event) {
//   console.log('Выбранное значение:', event.target.value);
// });

console.log (shipment_form)
console.log ('End of the script')
</script>
{% endblock %}