
    
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">EvvyAuto</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Информация
          </a>
          <ul class="dropdown-menu">
            <li class="contact_modal"><a class="dropdown-item" href="#">Контакты </a></li>
              <!-- ===========================Modal Body================================= -->
                <div class="enterContactModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Реквизиты: ИП Винокуров Сергей Николаевич
                                  ИНН 526013223435 ООО «Банк Точка» БИК 044525104 р.с.40802810420000006198

                                </h5>
                                <!-- <button type="button" class="btn_close"></button> -->
                            </div>
                            <div class="modal-body">
                              
                        </div>   
                    </div>
                  </div>
                </div>
            <!-- =================================End of Modal Body======================================== -->

           
            <li><a class="dropdown-item" href="#">Доставка</a></li>
            <!-- <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li> -->
          </ul>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Введите бренд или модель" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Поиск</button>
      </form>
    </div>
  </div>
</nav>



<script>
  const contact_modal =document.querySelector('.contact_modal');
  const enterContactModal =document.querySelector('.enterContactModal');
  

  contact_modal.addEventListener('mouseover', openModal)
  contact_modal.addEventListener('mouseout', closeModal)

  function openModal () {
          enterContactModal.classList.add('openModal')
      }
  function closeModal () {
          enterContactModal.classList.remove('openModal')
          // window.location.reload()
      }

</script>