{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
  <div class="container">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info" role="alert">
        <!-- <button class="close" data-dismiss="alert">
                    <small><sup>x</sup></small>
                </button> -->
        {{ message }}
    </div>
    {% endfor%}
    {% endif%}
  </div>
  <div class="row mt-4 pt-5">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'shopfront' %}">Главная</a></li>
          <li class="breadcrumb-item active" aria-current="page">Текущая</li>
        </ol>
      </nav>
    </div>
  </div>


  <div class="accordion" id="accordionExample">
<!-- ==============================Name============================ -->
    <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <strong>ФИО</strong>
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            {{user.first_name}} {{user.last_name}}
        </div>
      </div>
    </div>
<!-- ===============================Email=========== -->
    <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <strong>Email</strong> 
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            {{user.email}}
            <!-- <div class="row">
              <div class="col-4"></div>
                <div class="col-6">     
                <input type="button" value="Подтвердить email" class="btn btn-lg btn-block btn-outline-danger">
                <form action="{% url 'confirm_email' user.id %}" method="POST" id="shipment_form">
                </form>
              </div>
          </div> -->
        </div>
      </div>
    </div>

<!-- ==============================Password=============== -->
    <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <strong>Пароль</strong>
          </button>
        </h2>

        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="row">
              <div class="col-10">
                {{user.password}}  
              </div>
              <div class="col-2">
              <a href="{% url 'send_random_code' user.id %}" id="a_send_code" >
        <input type="button" value="Изменить пароль" class="btn btn-sm btn-block btn-outline-primary" id="send_code_button" > 
              </a>
              </div>
            </div>
          </div>
        </div>
    </div>

<!-- ============================Purchases & Reviews============================== -->
    <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <strong>Покупки</strong>
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <!-- {% for key, value in orders_dict.items%}
            <p>{{key.created}}: {{value}}</p> 
            {% endfor %} -->

            {% for order in orders %}
            Заказ# {{order.id}} от {{order.created}}
              <br>
              {% for item in order.orderitem_set.all %}
                  <div class="row ml-5 pl-5">
<!-- ============================Review Modal Trigger========================== -->
                    <a href="#" ><div class="div" id='review_window' >{{item}}</div></a>
                  </div>
<!-- ===============================Review Modal===================================== -->
    <div class="outer_modal_review">
      <div class="hide">
        <div class="reviewModal rounded-5">
           <img src="{% static 'images/cross.jpg' %}" style="width:2rem;height:2rem;" class="cross"  id="cross_review_window">
     
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="row">
                <div class="col-2">
                  <a href="{{item.get_url}}">
                  <img src="{{item.image.url}}" width="50" alt="" >
                </a>
                </div>
                <div class="col-10">
                   {{item.product}}
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-1">
                  <i class="fa-regular fa-star star"></i>
                </div>
                <div class="col-1">
                  <i class="fa-regular fa-star star"></i>
                </div>
                <div class="col-1">
                  <i class="fa-regular fa-star star"></i>
                </div>
                <div class="col-1">
                  <i class="fa-regular fa-star star"></i>
                </div>
                <div class="col-1">
                  <i class="fa-regular fa-star star"></i>
                </div>
                <div class="col-7">
                </div>
            </div>

              <div class="row mt-4">
             <form action="{% url 'create_product_review' user.id %}" method='POST'>
                      {% csrf_token %}

                   <input type="number" name="rating" id="rating" class="form-control"hidden>
                   <input type="text" name="article" value="{{item.article}}" class="form-control"hidden>
                    <textarea name="review" rows="4" cols="93" class='text-area p-2' placeholder=" Введите отзыв. Не более 350 знаков.">
               Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic veniam ab, nihil nam numquam, cum alias recusandae accusamus magni vitae molestiae illo. Hic sint aliquam eveniet autem quia. Ipsa dolorem quas maiores aliquid ex, repudiandae tempora dignissimos voluptate repellat atque explicabo quos impedit, natus iusto dolore obcaecati nobis eligendi tenetur?
                    </textarea>
                  <br>
                  
                <div class=" row pl-4 pr-4 mt-3">
                  <input type="submit" value="Сохранить" class="btn btn-outline-primary btn-block">
                </div>
                </form>     
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- =========================End of Review Modal=========================== -->
<br>
                {% endfor %}
            {% endfor %}


          </div>
        </div>
    </div>
  <!-- ========================Cart===================== -->
    <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            <strong>Корзина</strong>
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
           <a href="{% url 'cart_detail' %}" target="_blank"> Перейти </a>
          </div>
        </div>
    </div>
  <!-- =======================Phone======================== -->
    <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            <strong>Телефон</strong>
          </button>
        </h2>
   
          <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">

              <div class="row mb-3">
              <div class="col-10">
                  Телефон для СДЕК:  {% if extended_user.sdek_phone %}
                                        {{extended_user.sdek_phone}}
                                      {% endif %}
              </div>
    <!-- ===========================================Sdek Change Phone Modal Trigger========================      -->
              <div class="col-2">
                <input type="button" value="Ввести/изменить телефон" class="btn btn-sm btn-block btn-outline-primary" id="change_sdek_phone_button" > 
            </div>
             </div>

    <!-- ===============================Sdek Phone Change Modal===================================== -->
         <div class="sdek_phone_outer_modal">
          <div class="hide">   
            <div class="sdek_phone_modal rounded-5">
              <img src="{% static 'images/cross.jpg' %}" style="width:2rem;height:2rem;" class="cross" id="cross_sdek_window">         
              <div class="modal-dialog">
                <div class="modal-content">        
                <form action="{% url 'create_sdek_phone' user.id %}" method='POST'>
                  {% csrf_token %}
                  <div class="form-group">
                    <div class="row mb-3">
                      <label for="phone">Телефон для службы доставки СДЕК</label>
                    </div>
                    <div class="row mb-3">
                       <input type="tel" class="form-control" id="phone" name="phone" pattern="[0-9]{11}"  placeholder="Телефон с кодом страны (11 знаков). Код РФ: 7" required >
                    </div>
                    <div class="row">
                        <input type="submit" value="Ввести" class="btn btn-outline-primary btn-block">
                    </div>
                  </div>  
                </form>
              </div>
              </div>
              </div>
          </div>
        </div>
    <!-- =========================End of Change Sdek Phone Modal=========================== -->
        <div class="row mb-3">
          <div class="col-10">
              Телефон для ОЗОН:   {% if extended_user.ozon_phone %}
                                    {{extended_user.ozon_phone}}
                                  {% endif %}
          </div>
    <!-- ========================== Ozon Phone Modal Trigger================================ -->    
        <div class="col-2">
          <input type="button" value="Ввести/изменить телефон" class="btn btn-sm btn-block btn-outline-primary" id="change_ozon_phone_button"> 
        </div>
        </div>
            
    <!-- ===============================Ozon Phone Change Modal===================================== -->
         <div class="ozon_phone_outer_modal">
          <div class="hide">   
            <div class="ozon_phone_modal rounded-5">
              <img src="{% static 'images/cross.jpg' %}" style="width:2rem;height:2rem;" class="cross" id="cross_ozon_window">         
              <div class="modal-dialog">
                <div class="modal-content">        
                <form action="{% url 'create_ozon_phone' user.id %}" method='POST'>
                  {% csrf_token %}
                  <div class="form-group">
                    <div class="row mb-3">
                      <label for="phone">Телефон для службы доставки Озон</label>
                    </div>
                    <div class="row mb-3">
                       <input type="tel" class="form-control" id="phone" name="phone" pattern="[0-9]{11}"  placeholder="Телефон с кодом страны (11 знаков). Код РФ: 7" required >
                    </div>
                    <div class="row">
                        <input type="submit" value="Ввести" class="btn btn-outline-primary btn-block">
                    </div>
                  </div>  
                </form>
              </div>
              </div>
              </div>
          </div>
        </div>
    <!-- =========================End of Change Ozon Phone Modal=========================== -->
            </div>
        </div>
    </div>
    <!-- ===============Delete Account============ -->
    <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            <strong>Удалить аккаунт</strong>
          </button>
        </h2>
        <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Подтвердите удаление аккаунта
          </div>
        </div>
    </div>
    <!-- ===============Log Out=================== -->
    <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
            <strong><a href="{% url 'logout_user' %}">Выйти</a></strong>
          </button>
        </h2>
        <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <a href="{% url 'logout_user' %}">Подтвердите выход</a>
          </div>
        </div>
    </div>

    </div>
</div>


<script>

//======================Removing a link after clicking on it once============================
const send_code_button = document.querySelector('#send_code_button')
const a_send_code = document.querySelector('#a_send_code')

send_code_button.addEventListener('click', removeLink)

function removeLink() {
    console.log('clicked');
    a_send_code.remove()
}
//======================End of Removing a Link after clicking on it once============================
const change_sdek_phone_button = document.querySelector('#change_sdek_phone_button')
const sdek_phone_outer_modal = document.querySelector('.sdek_phone_outer_modal')
const cross_sdek_window =document.querySelector('#cross_sdek_window');
const change_ozon_phone_button = document.querySelector('#change_ozon_phone_button')
const ozon_phone_outer_modal = document.querySelector('.ozon_phone_outer_modal')
const cross_ozon_window =document.querySelector('#cross_ozon_window');
const review_window=document.querySelectorAll('#review_window');
//============================================================
const outer_modal_review =document.querySelectorAll('.outer_modal_review');
const cross_review_window =document.querySelectorAll('#cross_review_window');



for (let i=0; i<review_window.length; i++) {
  review_window[i].addEventListener('click', (e)=> {
    outer_modal_review[i].classList.add('openModal')
})
}
for (let i=0; i<cross_review_window.length; i++) {
  cross_review_window[i].addEventListener('click', (e)=> {
    outer_modal_review[i].classList.remove('openModal')
})
}


change_sdek_phone_button.addEventListener('click', openSdekPhoneModule)
cross_sdek_window.addEventListener('click', closeSdekPhoneModule)
function openSdekPhoneModule () {
          sdek_phone_outer_modal.classList.add('openModal')
      }
   function closeSdekPhoneModule () {
          sdek_phone_outer_modal.classList.remove('openModal')
  }


change_ozon_phone_button.addEventListener('click', openOzonPhoneModule)
cross_ozon_window.addEventListener('click', closeOzonPhoneModule)
function openOzonPhoneModule () {
          ozon_phone_outer_modal.classList.add('openModal')
      }
   function closeOzonPhoneModule () {
          ozon_phone_outer_modal.classList.remove('openModal')
  }

//===================Creating Star Rating===========================================
const stars =document.querySelectorAll('.star');
const rating =document.querySelector('#rating');//form input element


for (let i=0; i<stars.length; i++) {
  stars[i].addEventListener('click', (e)=> {
    //кроме того, я думаю, можно передать параметр (оценку) через data-attribute,
    //если заранее в HTML коде каждой зведе прописать свой data-grade='5' (от 1 до 5)
    //насколько я понимаю, data-attribute представляет собой sting. Но впоследствии можно через 
    //функцию Number() преобразовать его в число
    stars[i].starValue = (i + 1);
    rating.value=i+1
    console.log(stars[i].starValue);
    console.log(rating.value);
    for (let n=0; n<stars.length; n++) {
      if (n<=i) {
        stars[n].classList.add('orange')
      }
      else {
        stars[n].classList.remove('orange')
      }    
}
})
}

for (let i=0; i<stars.length; i++) {
  stars[i].addEventListener('mouseover', (e)=> {
    //кроме того, я думаю, можно передать параметр (оценку) через data-attribute,
    //если заранее в HTML коде каждой зведе прописать свой data-grade='5' (от 1 до 5)
    //насколько я понимаю, data-attribute представляет собой sting. Но впоследствии можно через 
    //функцию Number() преобразовать его в число
    stars[i].starValue = (i + 1);
    rating.value=i+1
    console.log(stars[i].starValue);
    console.log(rating.value);
    for (let n=0; n<stars.length; n++) {
      if (n<=i) {
        stars[n].classList.add('orange')
      }
      else {
        stars[n].classList.remove('orange')
      }    
}
})
}

// for (let i=0; i<stars.length; i++) {
//   stars[i].addEventListener('mouseout', (e)=> {
//     for (let n=0; n<stars.length; n++) {
//         stars[n].classList.remove('orange')
//       }    
// })}


//====================End of Star Rating======================================


</script>



{% endblock %}