{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
  <div class="container">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info" role="alert">
        <!-- <button class="close" data-dismiss="alert">
                    <small><sup>x</sup></small>
                </button> -->
        {{ message }}
    </div>
    {% endfor%}
    {% endif%}
  </div>
  <div class="row mt-4 pt-5">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'shopfront' %}">Главная</a></li>
          <li class="breadcrumb-item active" aria-current="page">Текущая</li>
        </ol>
      </nav>
    </div>
  </div>


  <div class="accordion" id="accordionExample">

    <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <strong>ФИО</strong>
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            {{user.first_name}} {{user.last_name}}
        </div>
      </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <strong>Email</strong> 
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            {{user.email}}
            <!-- <div class="row">
              <div class="col-4"></div>
                <div class="col-6">     
                <input type="button" value="Подтвердить email" class="btn btn-lg btn-block btn-outline-danger">
                <form action="{% url 'confirm_email' user.id %}" method="POST" id="shipment_form">
                </form>
              </div>
          </div> -->
        </div>
      </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <strong>Пароль</strong>
          </button>
        </h2>

        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="row">
              <div class="col-10">
                {{user.password}}  
              </div>
              <div class="col-2">
              <a href="{% url 'send_random_code' user.id %}" id="a_send_code" >
        <input type="button" value="Изменить пароль" class="btn btn-sm btn-block btn-outline-primary" id="send_code_button" > 
              </a>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <strong>Покупки</strong>
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <!-- {% for key, value in orders_dict.items%}
            <p>{{key.created}}: {{value}}</p> 
            {% endfor %} -->

            {% for order in orders %}
            Заказ# {{order.id}} от {{order.created}}
              <br>

              {% for item in order.orderitem_set.all %}
                  <div class="row ml-5 pl-5">
                  {{item}}
                  </div>
                {% endfor %}
            {% endfor %}
          </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            <strong>Корзина</strong>
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
           <a href="{% url 'cart_detail' %}" target="_blank"> Перейти </a>
          </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            <strong>Телефон</strong>
          </button>
        </h2>
   
          <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">

              <div class="row mb-3">
              <div class="col-10">
                  Телефон для СДЕК:  {% if extended_user.sdek_phone %}
                                        {{extended_user.sdek_phone}}
                                      {% endif %}
              </div>
    <!-- ===========================================Sdek Change Phone Modal Trigger========================      -->
              <div class="col-2">
                <input type="button" value="Ввести/изменить телефон" class="btn btn-sm btn-block btn-outline-primary" id="change_sdek_phone_button" > 
            </div>
             </div>

    <!-- ===============================Sdek Phone Change Modal===================================== -->
         <div class="sdek_phone_outer_modal">
          <div class="hide">

            <div class="sdek_phone_modal">
              <div class="hide">
                <div class="enterLoginModal rounded-5">
                 <img src="{% static 'images/cross.jpg' %}" style="width:3rem;height:3rem;" class="cross" id="cross_sdek_window">
                    
                 <div class="modal-dialog">
                    <div class="modal-content">
                          
            <form action="{% url 'create_sdek_phone' user.id %}" method='POST' id="login_form">
              {% csrf_token %}
              <div class="form-group">
                <!-- <label for="username">Имя пользователя</label>
                <input type="text" name="username" class="form-control" placeholder="Введите имя пользователя" required> -->
                <label for="username">Электронная почта</label>
                <input type="email" name="username" class="form-control" placeholder="Введите имя пользователя" required>
              </div>
              <!-- <input type="submit" value="Signin" class="btn btn-info btn-block"> -->
              <input type="submit" value="Войти" class="btn btn-outline-dark btn-block" id="login_button">
          </form>
              </div>
              </div>
              <div class="row mt-5">
              <a href="{% url 'password_recovery_page' %}">Забыли пароль?</a>
              </div>
    
              </div>
 
            </div>
            </div>
          </div>
        </div>
    <!-- =========================End of Change Sdek Phone Modal=========================== -->


              <div class="row mb-3">
              <div class="col-10">
                  Телефон для ОЗОН:   {% if extended_user.ozon_phone %}
                                        {{extended_user.ozon_phone}}
                                      {% endif %}
              </div>
             
              <div class="col-2">
                <input type="button" value="Ввести/изменить телефон" class="btn btn-sm btn-block btn-outline-primary" id="change_ozon_phone_button"> 
              </div>
              </div>
            
            </div>
             </div>
    </div>
    <!-- ===============Delete Account============ -->
    <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            <strong>Удалить аккаунт</strong>
          </button>
        </h2>
        <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Подтвердите удаление аккаунта
          </div>
        </div>
    </div>
    <!-- ===============Log Out=================== -->
    <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
            <strong><a href="{% url 'logout_user' %}">Выйти</a></strong>
          </button>
        </h2>
        <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <a href="{% url 'logout_user' %}">Подтвердите выход</a>
          </div>
        </div>
    </div>

    </div>
</div>


<script>

//======================Removing a link after clicking on it once============================
const send_code_button = document.querySelector('#send_code_button')
const a_send_code = document.querySelector('#a_send_code')

send_code_button.addEventListener('click', removeLink)

function removeLink() {
    console.log('clicked');
    a_send_code.remove()
}
//======================End of Removing a Link after clicking on it once============================
const change_sdek_phone_button = document.querySelector('#change_sdek_phone_button')
const sdek_phone_outer_modal = document.querySelector('.sdek_phone_outer_modal')
const cross_sdek_window =document.querySelector('#cross_sdek_window');
const change_ozon_phone_button = document.querySelector('#change_ozon_phone_button')
const cross_ozon_window =document.querySelector('#cross_ozon_window');

change_sdek_phone_button.addEventListener('click', openSdekPhoneModule)
cross_sdek.addEventListener('click', closeSdekPhoneModule)
function openSdekPhoneModule () {
          sdek_phone_outer_modal.classList.add('openModal')
      }
   function closeSdekPhoneModule () {
          outer_modal_login.classList.remove('openModal')
  }

change_ozon_phone_button.addEventListener('click', openOzonPhoneModule)
cross_ozon.addEventListener('click', closeOzonPhoneModule)
function openOzonPhoneModule () {
          ozon_phone_modal.classList.add('openModal')
      }
   function closeOzonPhoneModule () {
          sdek_phone_modal.classList.remove('openModal')
  }

</script>



{% endblock %}