{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="hide"></div>
<div class="container">


    
            <div class="change_pass_window">
              <div class="hide">
                <div class="enterLoginModal rounded-5">
                <a href="{% url 'account_page' user.id %}" class="">
                     <img src="{% static 'images/cross.jpg' %}" style="width:3rem;height:3rem;" class="cross" >
                </a>
                
                    
                 <div class="modal-dialog">
                    <div class="modal-content">
                          
            <form action="{% url 'change_password' user.id %}" method='POST'>
              {% csrf_token %}
              <div class="form-group">
                <!-- <label for="username">Имя пользователя</label>
                <input type="text" name="username" class="form-control" placeholder="Введите имя пользователя" required> -->
                <label for="username">Введите новый пароль</label>
                <input type="password" name="password" class="form-control" placeholder="Введите новый пароль " required>
              </div>
                <br>
              <div class="form-group">
                <label for="code">Введите код, который пришел вам на вашу электронную почту</label>
                <input type="text" name="code" class="form-control" placeholder='Введите код' required>
              </div>
              <br>
              <!-- <input type="submit" value="Signin" class="btn btn-info btn-block"> -->
              <input type="submit" value="Изменить пароль" class="btn btn-outline-dark btn-block">
          </form>
                  </div>
              </div>
              </div>
            </div>
            </div>
  




</div>
</div>
{% endblock %}