{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="password_recovery_page">
<div class="hide">
<div class="container">
   
                <div class="enterLoginModal rounded-5">
                    <a href="{% url 'shopfront' %}">
                     <img src="{% static 'images/cross.jpg' %}" style="width:3rem;height:3rem;" class="cross" id="password_restore_module">
                    </a>
                
                    
                 <div class="modal-dialog">
                    <div class="modal-content">
    <div class="container">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info" role="alert">
            <!-- <button class="close" data-dismiss="alert">
                        <small><sup>x</sup></small>
                    </button> -->
            {{ message }}
        </div>
        {% endfor%}
        {% endif%}
    </div>



            <form action="{% url 'recover_password' %}" method='POST' id="send_code_form">
              {% csrf_token %}
              <div class="form-group">
                <!-- <label for="username">Имя пользователя</label>
                <input type="text" name="username" class="form-control" placeholder="Введите имя пользователя" required> -->
                <label for="email">Введите email</label>
                <input type="email" name="email" class="form-control" placeholder="Введите вашу электронную почту для отправки нового пароля " required>
              </div>
              <br>
              <!-- <input type="submit" value="Signin" class="btn btn-info btn-block"> -->
              <input type="submit" value="Отправить код" class="btn btn-outline-dark btn-block" id="send_code_button">
          </form>
                  </div>
              </div>
              </div>
            </div>

    </div>
</div>

<div class="password_recovery_page_media_query">
    <div class="container">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info" role="alert">
            <!-- <button class="close" data-dismiss="alert">
                        <small><sup>x</sup></small>
                    </button> -->
            {{ message }}
        </div>
        {% endfor%}
        {% endif%}
    </div>
    <div class="enterLoginModal_media_query rounded-5">
                    <a href="{% url 'shopfront' %}">
                     <img src="{% static 'images/cross.jpg' %}" style="width:2rem;height:2rem;" class="cross" id="password_restore_module">
                    </a>
                
                    
                 <div class="modal-dialog">
                    <div class="modal-content">




            <form action="{% url 'recover_password' %}" method='POST' id="send_code_form">
              {% csrf_token %}
              <div class="form-group">
                <!-- <label for="username">Имя пользователя</label>
                <input type="text" name="username" class="form-control" placeholder="Введите имя пользователя" required> -->
                <label for="email">Введите email</label>
                <input type="email" name="email" class="form-control" placeholder="Введите вашу электронную почту для отправки нового пароля " required>
              </div>
              <br>
             <div class="row">
                <div class="login_button_media_query" id="send_code_button">
                    <input type="submit" value="Войти">
                </div>
            </div>
            
          </form>
                  </div>
              </div>
              </div>
            </div>


</div>







<script>
const send_code_form = document.querySelector('#send_code_form')
const send_code_button = document.querySelector('#send_code_button')


    send_code_form.addEventListener('submit', blockButton)
    function blockButton() {
        send_code_button.disabled = true;
    }




</script>

{% endblock %}