{% extends 'base.html' %}
{% load static %}
{% block content %}

        

<div class="hide">
<div class="container">

        



            <div class="change_pass_window">
              <div class="container">
          {% if messages %}
          {% for message in messages %}
          <div class="alert alert-info" role="alert">
              <!-- <button class="close" data-dismiss="alert">
                          <small><sup>x</sup></small>
                      </button> -->
              {{ message }}
          </div>
          {% endfor%}
          {% endif%}
        </div>



                <div class="enterLoginModal rounded-5">
                <a href="{% url 'account_page' user.id %}" class="">
                     <img src="{% static 'images/cross.jpg' %}" style="width:3rem;height:3rem;" class="cross" >
                </a>
                
                    
                 <div class="modal-dialog">
                    <div class="modal-content">
                          
            <form action="{% url 'change_password' user.id %}" method='POST' id="change_password_form">
              {% csrf_token %}
              <div class="form-group">
                <!-- <label for="username">Имя пользователя</label>
                <input type="text" name="username" class="form-control" placeholder="Введите имя пользователя" required> -->
                <label for="password">Введите новый пароль</label>
                <input type="password" name="password" class="form-control" placeholder="Введите новый пароль " required>
              </div>
              <br>
              <div class="form-group">
                <!-- <label for="username">Имя пользователя</label>
                <input type="text" name="username" class="form-control" placeholder="Введите имя пользователя" required> -->
                <label for="password">Подвтердите пароль</label>
                <input type="password" name="check_password" class="form-control" placeholder="Повторите пароль " required>
              </div>
                <br>
              <div class="form-group">
                <label for="code">Введите код, который пришел вам на вашу электронную почту</label>
                <input type="text" name="code" class="form-control" placeholder='Введите код' required>
              </div>
              <br>
              <!-- <input type="submit" value="Signin" class="btn btn-info btn-block"> -->
              <input type="submit" value="Изменить пароль" class="btn btn-outline-dark btn-block" id="change_password_button">
          </form>
                  </div>
              </div>
              </div>
            </div>

    </div>
</div>


<script>
const change_password_form = document.querySelector('#change_password_form')
const change_password_button = document.querySelector('#change_password_button')

    change_password_form.addEventListener('submit', blockButton)
    function blockButton() {
        change_password_button.disabled = true;
    }

</script>

{% endblock %}