{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="login_page">

    <div class="container">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info" role="alert">
            <!-- <button class="close" data-dismiss="alert">
                        <small><sup>x</sup></small>
                    </button> -->
            {{ message }}
        </div>
        {% endfor%}
        {% endif%}
    </div>
    <!-- ===============================Login Modal===================================== -->
             
    <div class="rules_page_info_media_query rounded-5">
        <a href="{% url 'shopfront' %}">
            <img src="{% static 'images/cross.jpg' %}" style="width:2rem;height:2rem;" class="cross_login_media_query">
        </a> 
                    
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 >
                    <strong>Правила </strong>
                    <br><br>
                    Осуществляя покупку в нашем интернет магазине, покупатель соглашается с данными Правилами.
                    В соответствии с данными Правилами доставка товара осуществляется после его оплаты. Доставка осуществляется
                    в пункт выдачи СДЕК, указанный покупателем, на ФИО, указанное покупателем при оформлении заказа.
                    Стоимость доставки включена в стоимость заказа. Стоимость доставки можно узнать перед оформлением заказа при указании пункта выдачи СДЕК.
                    <br><br>
                    Продавец гарантирует возврат денежных средст в случае поломки товара в процессе транспортировки.
                    Возврат денежных средств осуществляется в течение 5 дней с момента подтверждения поломки товара. 
                    Подтверждением поломки товара в процессе транспортировки может служить фотография поломанного товара 
                    в пункте выдачи СДЕК, сделанная покупателем при получении товара и его проверке.
                    <br><br>
                    Транспортировка товара осуществляется в коробках, изготовленных из пятислойного картона марки П32.
                    <br><br>
                        В остальном взаимодействие между покупателем и продавцом регулируетя Законом РФ о Защите прав потребителей.
                    </h5>
                </div>
            </div>
        </div>      
    </div>           

        

</div>    
{% endblock %}