
{% extends 'base.html' %}
{% load static %}
{% block content %}



<div class="delivery_cost_outer_modal">
  <div class="hide">
    <div class="deliveryCostModal rounded-4">
      <a href="{% url 'product_page' product.article%}">
        <img src="{% static 'images/cross.jpg' %}" style="width:2rem;height:2rem;" class="cross" >
      </a>

      <div class="row m-auto">
        <strong>
            Стоимость доставки до пункта выдачи СДЕК в городе/поселке {{shipment_city}} составит {{delivery_cost}} руб.
        </strong>
      </div>
    </div>
  </div>
</div>



{% endblock %}