
{% extends 'base.html' %}
{% load static %}
{% block content %}



<div class="delivery_cost_outer_modal">
  <div class="hide">
    <div class="deliveryCostModal rounded-4">
      <a href="{% url 'product_page' product.article%}">
        <img src="{% static 'images/cross.jpg' %}" style="width:2rem;height:2rem;" class="cross" >
      </a>

      <div class="row m-auto ff2">
            Стоимость доставки до пункта выдачи СДЕК в городе/поселке {{shipment_city}} составит:
      </div>
<br><br>
      <div class="row m-auto ff2_200" style="color: blue;">
<div style="text-align: cernter;"> {{delivery_cost}} руб.</div>
       
      </div>
    </div>
  </div>
</div>


<div class="delivery_cost_modal_media_query">
  <div class="deliveryCostModal rounded-4">
      <a href="{% url 'product_page' product.article%}">
        <img src="{% static 'images/cross.jpg' %}" style="width:2rem;height:2rem;" class="cross" >
      </a>

      <div class="row m-auto ff2">
            Стоимость доставки до пункта выдачи СДЕК в городе/поселке {{shipment_city}} составит:
      </div>
<br><br>
      <div class="row m-auto ff2_200" style="color: blue;">
<div style="text-align: cernter;"> {{delivery_cost}} руб.</div>
       
      </div>
    </div>



</div>



{% endblock %}


