
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="box_city_choice_outer_modal">
  <div class="hide">
    <div class="box_city_choice rounded-4">
      <a href="{% url 'product_page' product.article %}">
        <img src="{% static 'images/cross.jpg' %}" style="width:2rem;height:2rem;" class="cross" >
      </a>


      <div class="row">
            <form action="{% url 'delivery_city_choice' product.id %}" method="POST" id="form_to_be_sent" >
              {% csrf_token %}

        <div class="row m-auto">
          <label for="country" class="form-label"> <strong>Страна</strong></label>
          <select name="country" id="country" class='form-control' required>
            <!-- <option selected="true" disabled="disabled">Выберите страну</option> -->
            <option  value="" disabled selected hidden>Выберите страну</option>
            <!-- <option value="">Выберите страну</option> -->
            {% for country in countries %}
            <option value="{{country}}">{{country}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="row m-auto">
          <label for="region" class="form-label"> <strong>Регион</strong></label>
          <select name="region" id="region" class='form-control' required>
           <option value="">Выберите регион</option>
            {% for region in regions %}
            <option value="{{region.region}}">{{region.region}}</option>
            {% endfor %}

          </select>
        </div>
        <div class="row m-auto">
          <label for="city" class="form-label"> <strong>Населенный пункт</strong> </label>
          <select name="city" id="city" class='form-control'>
            <option value="">Выберите населенный пункт в пределах вашего региона</option>
            {% for city in cities %}
            <option value="{{city.city}}">{{city.city}}</option>
            {% endfor %}
          </select>
        </div>
            </form>
        <form action="{% url 'get_sdek_delivery_cost' product.id %}" method="POST" id="shipment_form">
      {% csrf_token %}
            <input type="text" id="shipment_city" name="shipment_city" class='form-control' autocomplete="off" hidden> 
            <input type="text" id="shipment_region" name="shipment_region" class='form-control' autocomplete="off" hidden> 
      
          <div class="row mt-3 p-3">
            <input type="submit" value="Рассчитать" class="btn btn-block btn-outline-primary" id="clear_storage" disabled>
          </div>
        </form>
        
      </div>

    </div>
  </div>
</div>

<div class="box_city_choice_outer_module_media_query">
    <div class="box_city_choice_media_query rounded-4">
      <a href="{% url 'product_page' product.article %}">
        <img src="{% static 'images/cross.jpg' %}" style="width:2rem;height:2rem;" class="cross" >
      </a>
      <div class="row">
        <form action="{% url 'delivery_city_choice' product.id %}" method="POST" id="form_to_be_sent_media_query" >
          {% csrf_token %}

          <div class="row m-auto">
            <label for="country" class="form-label"> <strong>Страна</strong></label>
            <select name="country" id="country_media_query" class='form-control' required>
              <!-- <option selected="true" disabled="disabled">Выберите страну</option> -->
              <option  value="" disabled selected hidden>Выберите страну</option>
              <!-- <option value="">Выберите страну</option> -->
              {% for country in countries %}
              <option value="{{country}}">{{country}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="row m-auto">
            <label for="region" class="form-label"> <strong>Регион</strong></label>
            <select name="region" id="region_media_query" class='form-control' required autocomplete="off">
              <option value="">Выберите регион</option>
              <!-- <option value="">Выберите регион</option> -->
              {% for region in regions %}
              <option value="{{region.region}}">{{region.region}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="row m-auto">
            <label for="city" class="form-label"> <strong>Населенный пункт</strong> </label>
            <select name="city" id="city_media_query" class='form-control'>
              <option value="">Выберите населенный пункт в пределах вашего региона</option>
              {% for city in cities %}
              <option value="{{city.city}}">{{city.city}}</option>
              {% endfor %}
            </select>
          </div>
        </form>
        <form action="{% url 'get_sdek_delivery_cost' product.id %}" method="POST" id="shipment_form_media_query" target="_parent">
      {% csrf_token %}
            <input type="text" id="shipment_city_media_query" name="shipment_city" class='form-control' autocomplete="off" hidden> 
            <input type="text" id="shipment_region_media_query" name="shipment_region" class='form-control' autocomplete="off" hidden> 
      
          <div class="row mt-3 p-3">
            <input type="submit" value="Рассчитать" class="btn btn-block btn-outline-primary" id="clear_storage_media_query" disabled>
          </div>
        </form>       
      </div>
    </div>

 
</div>


<script>
    const form_to_be_sent=document.querySelector('#form_to_be_sent');
    const country = document.querySelector('#country');
    const region = document.querySelector('#region');
    const city = document.querySelector('#city');
    const shipment_city = document.querySelector('#shipment_city');
    const shipment_region = document.querySelector('#shipment_region');
    const clear_storage = document.querySelector('#clear_storage');


    const form_to_be_sent_media_query=document.querySelector('#form_to_be_sent_media_query');
    const country_media_query = document.querySelector('#country_media_query');
    const region_media_query = document.querySelector('#region_media_query');
    const city_media_query = document.querySelector('#city_media_query');
    const shipment_city_media_query = document.querySelector('#shipment_city_media_query');
    const shipment_region_media_query = document.querySelector('#shipment_region_media_query');
    const clear_storage_media_query = document.querySelector('#clear_storage_media_query');


  //====================Country Module=======================
country.addEventListener('change', e=>{
        //sessionStorage.clear();
        country_value = country.value;
        sessionStorage.setItem('country', country_value);
        sessionStorage.removeItem('city');
        sessionStorage.removeItem('region');
        city.value='';
        region.value='';
    }
 )
country.addEventListener('change', sendJSForm);
    function sendJSForm() {
        form_to_be_sent.submit();
    };
  //====================Country Media Query Module=======================
country_media_query.addEventListener('change', e=>{
        //sessionStorage.clear();
        country_value = country_media_query.value;
        sessionStorage.setItem('country', country_value);
        sessionStorage.removeItem('city');
        sessionStorage.removeItem('region');
        city.value='';
        region.value='';
       
    }
 )
country_media_query.addEventListener('change', sendJSFormMQ);
    function sendJSFormMQ() {
        form_to_be_sent_media_query.submit();
    };

//===============Region Module======================
region.addEventListener('change', e=>{
        region_value = region.value;
        shipment_region.value = region_value;
        sessionStorage.setItem('region', region_value);
        sessionStorage.setItem('country', country_value);
        sessionStorage.removeItem('city');
        city.value='';
       
    }
  )
region.addEventListener('change', sendJSForm);
    function sendJSForm() {
        form_to_be_sent.submit();
    };
//===============Region Module Media Query ======================
region_media_query.addEventListener('change', e=>{
        region_value = region_media_query.value;
        shipment_region.value = region_value;
        sessionStorage.setItem('region', region_value);
        sessionStorage.setItem('country', country_value);
        sessionStorage.removeItem('city');
        city.value='';
       
    }
  )
region_media_query.addEventListener('change', sendJSFormMQ);
    function sendJSFormMQ() {
        form_to_be_sent_media_query.submit();
    };

//===============Office Module======================
city.addEventListener('change', e=>{
        city_value = city.value;
        shipment_city.value = city_value;
        sessionStorage.setItem('city', city_value);
        clear_storage.removeAttribute('disabled');

    }
)
//===============Office Module Media Query======================
city_media_query.addEventListener('change', e=>{
        city_value = city_media_query.value;
        shipment_city_media_query.value = city_value;
        sessionStorage.setItem('city', city_value);
        clear_storage_media_query.removeAttribute('disabled');

    }
)

//===============================================
document.addEventListener('DOMContentLoaded', e => {
        if (sessionStorage.getItem('country') === null)
             {console.log ("No region choice")}
        else {
                country_value = sessionStorage.getItem('country');
                country.value = country_value
                country_media_query.value = country_value
              }
        if (sessionStorage.getItem('region') === null)
            {console.log ("No region choice")}
        else {
              region_value = sessionStorage.getItem('region');
              region.value = region_value
              region_media_query.value = region_value
              shipment_region_media_query.value = region_value
              shipment_region.value = region_value
             
        }
        if (sessionStorage.getItem('city') === null)
          {console.log ("No city choice")}
        else {
          city_value = sessionStorage.getItem('city');
          city.value = city_value;
          city_media_query.value = city_value;
          shipment_city.value = city_value;
        }
      });

clear_storage.addEventListener('click', clearStorage);
     function clearStorage(e) {
         sessionStorage.clear();
     };
clear_storage_media_query.addEventListener('click', clearStorage);
     function clearStorage(e) {
         sessionStorage.clear();
     };


</script>

{% endblock %}