:root {
  --max-width: 56%;
}
.img_scale:hover {
  /* opacity: 2; */
  transform: scale(1.1);
  /* z-index:1; */
}
  

/* ===================== Cotacts Modal========================= */
.outer_modal_contacts {
  display: none;
}
.outer_modal_contacts.openModal {
  position: fixed;
  /* position: relative; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 9999;
}
.enterContactModal {
    padding: 3rem;
    background-color: white;
    width: 500px;
    height: 300px;
    display: block;
    position: absolute;
    position: fixed;

    top: 20%;
    left: 25%;
   
} 
/* ===================== Delivery Modal========================= */
.outer_modal_delivery {
  display: none;
}
.outer_modal_delivery.openModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 9999;
}
.enterDeliveryModal {
    padding: 3rem;
    background-color: white;
    width: 50rem;
    height: 30rem;
    display: block;
    position: fixed;
    top: 15rem;
    left: 50rem;  
}
/* ===================== End ofDelivery Modal========================= */

.hide {
    display: block;
    /* display: none; */
    /* position: fixed; */
    /* position: absolute; */
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /*background-color: red;*/
    overflow-y: scroll;
    opacity: 100%;
    /*visibility: visible;*/
    /*visibility: hidden;*/   
}





.cross {
  margin: 1rem;
  position: absolute;
  top: 0;
  right: 0;
}


.cross:hover {
  /* opacity: 2; */
  transform: scale(1.1);
 
}