:root {
  --max-width: 56%;
}

.img_scale:hover {
  /* opacity: 2; */
  transform: scale(1.1);
  z-index: 1;
}

/* ===================== Cotacts Modal========================= */
.enterContactModal {
    display: none;
}

.enterContactModal.openModal {
    display: block;
    position: fixed;
    /* top: 70mm;
    right: 0mm; */
}

.hide {
    /* display: block; */
    /* display: none; */
    /*position: fixed;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /*background-color: red;*/
    overflow-y: scroll;
    opacity: 10%;
    /*visibility: visible;*/
    /*visibility: hidden;*/
}