{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
<!-- =====================Alert Messages Module=================== -->
<div class="container">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info" role="alert">
        <!-- <button class="close" data-dismiss="alert">
                    <small><sup>x</sup></small>
                </button> -->
        {{ message }}
    </div>
    {% endfor%}
    {% endif%}
</div>
<!-- ===================End of Alert Messages Module================ -->


    <div class="row">
    {% for product in products %}
    
    {% if product.image_1%}
    
    <div class="col-sm-3 mt-3">
        <div class="card" style="width: 18rem;">
                
            <a href="{% url 'product_page' product.article %}">
         
            <img src="{{product.image_1.url}}" class='rounded-2 img-fluid img_scale' alt="Placeholder image" >
            </a>
            <!-- <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div> -->
    </div>
        </div>
    {% endif %}
    
    {% endfor %}

</div>
</div>
{% endblock %}