:root {
  --max-width: 56%;
}

.aligner {
  display: flex; 
  align-items: center;
  justify-content: center;
}
.img_scale:hover {
  /* opacity: 2; */
  transform: scale(1.1);
  /* z-index:1; */
}


.photo_scale:hover {
  /* opacity: 2; */
  transform: scale(1.1);
  /* z-index:1; */
}
 
.title_format {
  color:aquamarine;
  font-size: 50px;

}

/* ===================== Cotacts Modal========================= */
.outer_modal_contacts {
  display: none;
}
.outer_modal_contacts.openModal {
  text-align: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 9999;
  align-items: center;
}
.enterContactModal {
    padding: 3rem;
    background-color: white;
    width: 50rem;
    height: 30rem;
    display: inline-block;
    position: relative;
    top: 15rem;
    /* left: 50rem;   */
}
/* ===================== Delivery Modal========================= */
.outer_modal_delivery {
  display: none;
}
.outer_modal_delivery.openModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 9999;
}
.enterDeliveryModal {
    padding: 3rem;
    background-color: white;
    width: 50rem;
    height: 30rem;
    display: block;
    position: fixed;
    top: 15rem;
    left: 50rem;  
}

/* ===================== Register Modal========================= */
.outer_modal_register {
  display: none;
}
.outer_modal_register.openModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 9999;
}
.enterRegisterModal {
    padding: 3rem;
    background-color: white;
    width: 50rem;
    height: 30rem;
    display: block;
    position: fixed;
    top: 15rem;
    left: 50rem;  
}
/* ===================== Login Modal========================= */
.outer_modal_login {
  display: none;
}
.outer_modal_login.openModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 9999;
}
.enterLoginModal {
    padding: 3rem;
    background-color: white;
    width: 50rem;
    height: 30rem;
    display: block;
    position: fixed;
    top: 15rem;
    left: 50rem;  
}
/* ===================== End ofDelivery Modal========================= */

.change_pass_window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 9999;
}


.message_window {
 z-index: 9999;
}





.hide {
    /* display: flex;
    justify-content: center; */
    display: block;
    /* display: none; */
    /* position: fixed; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /*background-color: red;*/
    overflow-y: scroll;
    opacity: 100%;
    /*visibility: visible;*/
    /*visibility: hidden;*/   
}

.cross {
  margin: 1rem;
  position: absolute;
  top: 0;
  right: 0;
}

.cross:hover {
  /* opacity: 2; */
  transform: scale(1.1);
 
}
/*==========================Rating Stars Module======================*/
.rating>input {
  display: none;
  /* opacity: 1; */
}

.rating label {
  /*display: inline;*/
  cursor: pointer;
  width: 30px;
  padding-left: 1rem;
  position: relative;
  right: 4rem;
  /*background: #ccc;*/
}

.rating label::before {
  content: '\f005';
  font-family: 'Font Awesome 5 free';
  /* font-weight: 900; */
  position: relative;
  /* position: absolute; */

  /* display: block; */
  font-size: 20px;
  color: grey;
}

.rating label::after {
  content: '\f005';
  font-family: 'Font Awesome 5 free';
  font-weight: 00;
  position: absolute;
  /* position: relative; */
  display: block;
  font-size: 20px;
  color: yellow;
  top: 0;
  opacity: 0;
  transition: .5s;
  text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

.rating label:hover:after,
.rating input:hover~label:after,
.rating input:checked~label:after {
  opacity: 1;
}
.stars-outer {
  position: relative;
  display: inline-block;
}
.stars-inner {
  position: absolute;
  top: 0;
  /* left: 0; */
  white-space: nowrap;
  overflow: hidden;
  /*color: yellow;*/
  /* width: var(--max-width);*/
}
.stars-outer::before {
  content: '\f005 \f005 \f005 \f005 \f005';
  font-family: 'Font Awesome 5 Free';
  font-weight: 200;
  color: grey;
  font-size: 20px;
}
.stars-inner::before {
  content: '\f005 \f005 \f005 \f005 \f005';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: yellow;
  font-size: 20px;
  transition: all .25s;
}

/*===================End of Rating Stars Module=========================*/
.box_price {
  background-color:cadetblue;
  width: 20rem;
  height: 5rem;
  border-radius: 5vmax;
}
.box_client {
  background-color: rgb(204, 212, 214);
  border-radius: 1vmax;
}

.box_payment {
  background-color: rgb(204, 212, 214);
  border-radius: 1vmax;
  font-weight: bold;

}

.box_city_choice {
  background-color: white;
  border-radius: 1vmax;
  padding:1rem;
  position: absolute;
  /* position: relative; */
  top: 15rem;
  left: 30rem;
  display: block;
  z-index: 1;
  /* align-items: center;
  justify-content: center; */
}

/* ============================Button ========================================= */
a.boxShadow4 {
display: inline-block;
text-align: center;
font-size: 24px;
font-weight: bold;
text-shadow: 1px 1px rgba(0,0,0,.3);
text-decoration: none;
padding: 20px;
border-radius: 15px;
color: rgba(255,255,255,.9);/*text colour*/
background: rgba(204, 212, 214);/*background colour*/
box-shadow:
inset 0 0 3px 1px rgba(0,0,0,.8),/*внутренняя тень*/
inset rgba(0,0,0,.3) -5px -5px 8px 5px,/*внутренняя тень*/
inset rgba(255,255,255,.5) 5px 5px 8px 5px,/*внутренняя тень*/
1px 1px 1px rgba(255,255,255,.1),/*внешняя тень*/
-2px -2px 5px rgba(0,0,0,.5);/*внешняя тень*/
transition: .2s;
}
a.boxShadow4:hover {
color: black;
background: white;
/* background: rgb(20,130,20); */
}
a.boxShadow4:active {
background: light-grey(0,110,0);
box-shadow:
inset 0 0 5px 3px rgba(0,0,0,.8),
inset rgba(0,0,0,.3) -5px -5px 8px 5px,
inset rgba(255,255,255,.5) 5px 5px 8px 5px,
1px 1px 1px rgba(255,255,255,.2),
-2px -2px 5px rgba(0,0,0,.5);
}
