:root {
  --max-width: 56%;
}

body {
font-family: "Lucida Console", "Courier New", monospace;
}

.ff1 {
font-family: "Times New Roman", "Times", serif;
}
.ff2 {
font-family: "Lucida Console", "Courier New", monospace;
}
.ff2_120 {
font-family: "Lucida Console", "Courier New", monospace;
font-size:100%;
font-weight: 900;
}
.ff2_150 {
font-family: "Lucida Console", "Courier New", monospace;
font-size:150%;
font-weight: 900;
}
.ff2_200 {
font-family: "Lucida Console", "Courier New", monospace;
font-size:200%;
font-weight: 900;
}

.aligner {
  display: flex; 
  align-items: center;
  justify-content: center;
}
.img_scale:hover {
  /* opacity: 2; */
  transform: scale(1.1);
  /* z-index:1; */
}


.photo_scale:hover {
  /* opacity: 2; */
  transform: scale(1.1);
  /* z-index:1; */
}
 
.title_format {
  color:aquamarine;
  font-size: 50px;

}

.text-area {
  border-width: thin;
  border-radius: 10px;
  /* background-color: lightgray; */
  border-color: lightgray;
}


/* =========================Cart Price Window============= */
.cart_price_window {
  background-color: gainsboro;
  border-radius: 5%;
  height: 100%;
}




/* ===================== Cotacts Modal========================= */
.outer_modal_contacts {
  display: none;
}
.outer_modal_contacts.openModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 9999;
}
.enterContactModal {
    padding: 3rem;
    background-color: white;
    width: 30vw;
    height: 40vh;
    display: block;
    position: absolute;
}
/* ===================== Delivery Modal========================= */
.outer_modal_delivery {
  display: none;
}
.outer_modal_delivery.openModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 9999;
}
.enterDeliveryModal {
    padding: 3rem;
    background-color: white;
    width: 50rem;
    height: 32rem;
    display: block;
    position: fixed;
    top: 15rem;
    left: 50rem;  
}
/* ===================== Rules Modal========================= */
.outer_modal_rules {
  display: none;
}
.outer_modal_rules.openModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 9999;
}
.rulesModal {
    padding: 3rem;
    background-color: white;
    width: 50vw;
    height: 70vh;
    display: block;
    position: absolute;
    /* overflow-y: scroll; */
}

/* ===================== Register Modal========================= */
.outer_modal_register {
  display: none;
}
.outer_modal_register.openModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 9999;
}
.enterRegisterModal {
    padding: 3rem;
    background-color: white;
    width: 30vw;
    height: 63vh;
    display: block;
    position: absolute;
}
/* ===================== Login Modal========================= */
.outer_modal_login {
  display: none;
}
.outer_modal_login.openModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 9999;
}
.enterLoginModal {
    padding: 3rem;
    background-color: white;
    width: 40vw;
    height: 50vh;
    display: block;
    position: absolute;
}

/* ======================Change Password Module========= */
.changePassword {
    padding: 3rem;
    background-color: white;
    width: 40vw;
    height: 55vh;
    display: block;
    position: absolute;
}
/* ===================== Review Modal========================= */

.outer_modal_review {
  display: none;
}
.outer_modal_review.openModal {
 position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 9999;
}
.reviewModal {
    padding: 3rem;
    background-color: white;
    width: 50vw;
    height: 55vh;
    display: block;
    position: absolute
}
/* =======================Hide======================================== */
.hide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: scroll;
    opacity: 100%;
}
/* ===================== Reviews List Modal========================= */
.review_list_modal {
  display: none;
}
.review_list_modal.openModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 9999;
}
.reviewListModal {
    border-radius: 7px 7px 7px 7px;
    padding: 3rem;
    background-color: white;
    width: 50vw;
    height: 70vh;
    display: block;
    overflow-y: scroll;
}
/* ===================== End of Reviews List Modal========================= */
/* ===================== Product Desription Modal========================= */
.product_description_modal {
  display: none;
}
.product_description_modal.openModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 9999;
}
.productDescriptionModal {
    padding: 3rem;
    background-color: white;
    width: 50vw;
    height: 70vh;
    display: block;
    position: absolute;
}
/* ===================== End of Product Description Modal========================= */

.change_pass_window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 9999;
}
/* ===================== Sdek Phone Modal========================= */
.sdek_phone_outer_modal {
  display: none;
}
.sdek_phone_outer_modal.openModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 9999;
}
.sdek_phone_modal {
    padding: 3rem;
    background-color: white;
    width: 30vw;
    height: 30vh;
    display: block;
    position:absolute;
} 
/* ===================== End of Sdek Phone Modal========================= */

/* ===================== Ozon Phone Modal========================= */
.ozon_phone_outer_modal {
  display: none;
}
.ozon_phone_outer_modal.openModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 9999;
}
.ozon_phone_modal {
    padding: 3rem;
    background-color: white;
    width: 30vw;
    height: 30vh;
    display: block;
    position:absolute;
} 
/* ===================== End of Ozon Phone Modal========================= */

.box_city_choice_outer_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 9999;
}
.box_city_choice {
    padding: 2rem;
    background-color: white;
    width: 30vw;
    height: 45vh;
    display: block;
    position:absolute;
}
/* ============================================================= */
.delivery_cost_outer_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 9999;
}
.deliveryCostModal {
    padding: 2rem;
    background-color: white;
    width: 50vw;
    height: 30vh;
    display: block;
    position:absolute;
    text-align: center;
    font-size: large;
    justify-content: center;
}

.message_window {
 z-index: 9999;
}
.cross {
  margin: 1rem;
  position: absolute;
  top: 0px;
  right: 0px;
}
.cross:hover {
  /* opacity: 2; */
  transform: scale(1.1);
}
/* ======================================== */
.cross_review {
  position: absolute;
  margin: 1rem;
  top: 5vh;
}
.cross_review:hover {
   transform: scale(1.1);
}

/*==========================Displaying Rating Stars=====================*/
.stars-outer {
  position: relative;
  display: inline-block;
}
.stars-inner {
  position: absolute;
  top: 0;
  overflow: hidden;
}
.stars-outer::before {
  content: '\f005 \f005 \f005 \f005 \f005';
  font-family: 'Font Awesome 5 Free';
  font-weight: 200;
  color: grey;
  font-size: 30px;
}
.stars-inner::before {
  content: '\f005 \f005 \f005 \f005 \f005';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: yellow;
  font-size: 30px;
  transition: all .25s;
}
/* ==========================Giving Star Rating================== */
.star {
  font-size: 30px;
  font-weight: 300;
  color: grey;
  position: relative;
}
.orange {
  color: orange;
 }
/*===================End of Rating Stars Module=========================*/
.star-orange {
  font-size: 30px;
  font-weight: 300;
  color: orange;
}

.box_price {
  background-color:cadetblue;
  width: 20rem;
  height: 5rem;
  border-radius: 5vmax;
}
.box_client {
  background-color: rgb(204, 212, 214);
  border-radius: 1vmax;
}

.box_payment {
  background-color: rgb(204, 212, 214);
  border-radius: 1vmax;
  font-weight: bold;
}

/* ============================Payment Button ========================================= */
a.boxShadow4 {
display: inline-block;
text-align: center;
font-size: 24px;
font-weight: bold;
text-shadow: 1px 1px rgba(0,0,0,.3);
text-decoration: none;
padding: 20px;
border-radius: 15px;
color: rgba(255,255,255,.9);/*text colour*/
background: rgba(204, 212, 214);/*background colour*/
box-shadow:
inset 0 0 3px 1px rgba(0,0,0,.8),/*внутренняя тень*/
inset rgba(0,0,0,.3) -5px -5px 8px 5px,/*внутренняя тень*/
inset rgba(255,255,255,.5) 5px 5px 8px 5px,/*внутренняя тень*/
1px 1px 1px rgba(255,255,255,.1),/*внешняя тень*/
-2px -2px 5px rgba(0,0,0,.5);/*внешняя тень*/
transition: .2s;
}
a.boxShadow4:hover {
color: black;
background: white;
/* background: rgb(20,130,20); */
}
a.boxShadow4:active {
background: light-grey(0,110,0);
box-shadow:
inset 0 0 5px 3px rgba(0,0,0,.8),
inset rgba(0,0,0,.3) -5px -5px 8px 5px,
inset rgba(255,255,255,.5) 5px 5px 8px 5px,
1px 1px 1px rgba(255,255,255,.2),
-2px -2px 5px rgba(0,0,0,.5);
}

.product_page_display_at_media_query {
  display: none;
}
.final_order_media_query {
  display: block;
}
.final_order_no_display {
  display: none;
}
.cart_big_screen_media_query {
  display: none;
}

/* ====================================================================== */
@media only screen and (max-device-width: 600px) {
  .product_page_display_at_media_query {
    display: block;
    font-size: 15px;
  }

.enterRegisterModal {
    padding: 3rem;
    background-color: white;
    width: 80vw;
    height: 63vh;
    display: block;
    position: absolute;
}
  .enterLoginModal {
      padding: 3rem;
      background-color: white;
      width: 80vw;
      height: 50vh;
      display: block;
      position: absolute;
  }
  .enterContactModal {
    padding: 3rem;
    background-color: white;
    width: 80vw;
    height: 40vh;
    display: block;
    position: absolute;
}
  .rulesModal {
    padding: 3rem;
    background-color: white;
    width: 90vw;
    height: 70vh;
    display: block;
    position: absolute;
    overflow-y: scroll;
}
  .search_line_width_smartphone {
      width: 60vw;
      margin-bottom: 0.5rem;
}
  .img-fluid {
     width: 100%;
}
  .product_page_display_none_at_media_query {
      display:none;
}
.stars-outer::before {
  content: '\f005 \f005 \f005 \f005 \f005';
  font-family: 'Font Awesome 5 Free';
  font-weight: 200;
  color: grey;
  font-size: 15px;
}
.stars-inner::before {
  content: '\f005 \f005 \f005 \f005 \f005';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: yellow;
  font-size: 15px;
  transition: all .25s;
}


/* ===================== Reviews List Modal Media Query========================= */
.review_list_modal_media_query {
  display: none;
}
.review_list_modal_media_query.openModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 9999;
}
.reviewListModalMediaQuery{
    border-radius: 7px 7px 7px 7px;
    padding: 2rem;
    background-color: white;
    width: 80vw;
    height: 70vh;
    display: block;
    overflow-y: scroll;
 
}
/* ===================== End of Reviews List Modal========================= */
/* ===================== DescriptionModal Media Query========================= */
.product_description_modal_media_query {
  display: none;
}
.product_description_modal_media_query.openModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 9999;
}
.productDescriptionModalMediaQuery{
    position: absolute;
    border-radius: 7px 7px 7px 7px;
    padding: 3rem;
    background-color: white;
    width: 85vw;
    height: 70vh;
    display: block;
    overflow-y: scroll;
    z-index: 9999;
}
/* ===================== End of Reviews List Modal========================= */
.cross_review_list_modal_media_query {
  position: absolute;
  top: 10vh;
  right: 3vw;
}
.box_price {
  position: absolute;
  top: 10vh;
  right: 3vw;
}
.box_price {
  position: static;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-align: center;
  background-color:cadetblue;
  width: 40vw;
  height: 6vh;
  border-radius: 5vmax;
}
.box_city_choice {
    padding: 2rem;
    background-color: white;
    width: 80vw;
    height: 45vh;
    display: block;
    position:absolute;
}
.deliveryCostModal {
    padding: 2rem;
    background-color: white;
    width: 80vw;
    height: 45vh;
    display: block;
    position:absolute;
    text-align: center;
    font-size: large;
    justify-content: center;
}
.box_client {
  background-color: rgb(204, 212, 214);
  border-radius: 1vmax;
  width: 95vw;
  /* font-size: 15px; */
}
.ff2 {
font-family: "Lucida Console", "Courier New", monospace;
font-size: 70%;
}
.ff2_120{
font-family: "Lucida Console", "Courier New", monospace;
font-size: 70%;
}
.final_order_media_query {
  display: none;
}
.final_order_no_display {
  display: block;
}
/* ============================Payment Button ========================================= */
  a.boxShadow4 {
    display: block;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px rgba(0,0,0,.3);
    text-decoration: none;
    padding: 15px;
    border-radius: 15px;
    color: rgba(255,255,255,.9);/*text colour*/
    background: rgba(204, 212, 214);/*background colour*/
    box-shadow:
    inset 0 0 3px 1px rgba(0,0,0,.8),/*внутренняя тень*/
    inset rgba(0,0,0,.3) -5px -5px 8px 5px,/*внутренняя тень*/
    inset rgba(255,255,255,.5) 5px 5px 8px 5px,/*внутренняя тень*/
    1px 1px 1px rgba(255,255,255,.1),/*внешняя тень*/
    -2px -2px 5px rgba(0,0,0,.5);/*внешняя тень*/
    transition: .2s;
}
  a.boxShadow4:hover {
    color: black;
    background: white;
    /* background: rgb(20,130,20); */
}
  a.boxShadow4:active {
    background: light-grey(0,110,0);
    box-shadow:
    inset 0 0 5px 3px rgba(0,0,0,.8),
    inset rgba(0,0,0,.3) -5px -5px 8px 5px,
    inset rgba(255,255,255,.5) 5px 5px 8px 5px,
    1px 1px 1px rgba(255,255,255,.2),
    -2px -2px 5px rgba(0,0,0,.5);
}
.cart_big_screen{
  display: none;
}

.cart_big_screen_media_query {
  display: flex;
  min-height: 100vh;

}
.cart_footer_media_query {
  /* position: fixed; */
  position: sticky;
  display: block;
  justify-content: center;
  /* vertical-align: center; */
  border-radius: 1vmax;
  color: white;
  background-color: blue;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bolder;
  height: 15%;
  width: 95vw;
  bottom: 0;

}
.cart_footer_media_query_no_cart_items {
  /* position: fixed; */
  position: sticky;
  display: block;
  justify-content: center;
  /* vertical-align: center; */
  border-radius: 1vmax;
  color: white;
  background-color: blue;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bolder;
  height: 10%;
  width: 95vw;
  top: 90vh;
}

.cart_card_media_query {
  display: block;
  border-color: lightgray;
  border-width: 1px;
  border-radius: 3vmax;
  position: relative;
  margin-bottom: 1vh;
  padding: 2vh;
  border-style: solid;
  font-size: 15px;
  background-color: black;
  color: white
 
}
.cart_price_font_media_query {
  color: greenyellow;
  font-size: 20px;
  font-weight: 999;
}
}